---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title=""
	description="About Me"
	pubDate={new Date('September 15 2023')}
	heroImage="/About_Me.jpg"
>
	<p>
		Hi I'm Alex O'Brien, a software engineering student from the UK. I'm currently studying my second year at the University of Hull. I'm a backend developer with a focus on C# .NET and SQL databases. Alongside this, I have an interest in networking, web development and cyber-security. To Aid in this research, I have built my own website and am hosting my own home lab containing several dockerised services and networking infrastructure.
	</p>

	<p>
		At university, I have undertaked several roles to further enhance my CV and ensure I am a well-rounded student. Firstly, I volunteered to be a student representative for my course which included attending meetings with faculty leaders and providing feedback on the course. Secondly, I applied to the Hull Employability Award which is a scheme designed to aid students soft skills and employability. While I am still working towards this award, I have completed several modules and am on track to complete the award this year. Finally, I was elected treasurer of the <a href="https://hullcss.org">Hull Computer Science Society</a> at the end of my first year. Over summer, me and the team have been revamping the branding, social events and industry links to ensure the continued success of the society.
	</p>

	<p>
		My home lab consists of a two machines running a series of web-based services and networking tools. The first device is a Debian based Raspberry-Pi 4 running a Wireguard VPN and Pi-Hole for network-wide blocking. This enables me to browse the web and block adverts, trackers and malware. Furthermore, using Cloudflared, I can enable DNS over HTTPS to encrypt my DNS requests while maintaining a recursive DNS service. My second machine is my old laptop running Debian Server 12 with several dockerised services. These include Jellyfin and the *arr suite for media management, nginx for reverse proxying, qBittorrent, Actual Budget and a custom Homer dashboard.
	</p>
</Layout>