---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	header="About Me"
	title=""
	description="About Me"
	pubDate={new Date('September 16 2023')}
	heroImage="/images/About_Me.jpg"
	altText='About Me text on a space background'
>
	<p>
		Hi, I'm Alex O'Brien, a software engineering student from the UK. I'm currently studying my second year at the University of Hull. I'm a backend developer specialising in C#, .NET and SQL databases. In addition, I have a passion for networking, web development and cyber-security. To aid in this research, I have built my website and started hosting a home lab containing several dockerised services and networking infrastructure.
	</p>

	<p>
		At university, I have undertaken several roles to enhance my portfolio of skills. Initially, I volunteered as a student representative for my course, where I attended meetings with faculty leaders, providing constructive feedback. Secondly, I applied for the Hull Employability Award, a scheme designed to aid students' soft skills and employability. While I am still working towards this award, I have completed several modules and on track to finish this academic year. Finally, I was elected treasurer of the <a href="https://hullcss.org">Hull Computer Science Society</a> at the end of my first year. Over the summer, the team and I have been revamping the branding, social events and industry links to ensure it's a success.
	</p>

	<p>
		My home lab consists of two machines running customised web-based services and networking tools. The first device is a Debian-based Raspberry-Pi 4 running a Wireguard VPN and Pi-Hole for network-wide ad blocking. It enables ad free web browsing while also blocking trackers and malware. Furthermore, using Cloudflared, I can use DNS over HTTPS to encrypt my DNS requests while maintaining a recursive DNS service. My second machine is my old laptop running Debian Server 12 with several dockerised services. These include Jellyfin and the *arr suite for media management, nginx for reverse proxying, qBittorrent, Actual Budget and a custom Homer dashboard.
	</p>
</Layout>