---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Welcome to my website!</h1>

			<p>
				This website is dedicated to my studies at the <a href="https://www.hull.ac.uk">University of Hull</a> and my personal projects. To learn more about my work and major career events, please visit my <a href="/blog">Blogs</a> to read about it.
			</p>
		</main>
		<Footer />
	</body>
</html>
